body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/paint_background_image.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.6); /* Translucent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    font-size: 1.1em; /* Increase font size */
    font-weight: bold; /* Make text bold */
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

a.create-account-link {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a.create-account-link:hover {
    text-decoration: underline;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px;
    font-weight: normal;
}

.welcome-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.welcome-banner {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.welcome-banner h1 {
    margin: 0;
    font-size: 2em;
}

.content-card {
    padding: 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.content-card p, .content-card h2 {
    margin: 10px 0;
}

.content-card h2 {
    font-size: 1.8em;
    color: #333;
}

.joke-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.joke-section p {
    font-size: 1.2em;
    color: #666;
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button:hover {
    background-color: #d32f2f;
}
